
<template>
  <div class="hello">
    <h1>Authentication &amp; Authorization</h1>
    
    <div class="alert alert-info" role="alert">
        {{ alert_message }}
    </div>

    <router-link to="/">
        <button type="button" class="btn btn-default">Home</button>
    </router-link>
  </div>
</template>

<script>
const axios = require('axios').default;

export default {
  name: 'About',
  data () {
    return {
      ticket: '',
      alert_message: ''
    }
  },
  mounted: function () {
    this.ticket = this.$route.query.ticket
    this.alert_message = `Attempting to validate ticket: ${this.ticket}`

    this.validateTicket(this.$router)
  },
  methods: {
    validateTicket(router) {
      let api_url = process.env.VUE_APP_API_URL
      let call_url = api_url + "/validate/" + this.ticket
      console.log(call_url)
      axios
        .get(call_url)
        .then(response => {
          let data = response.data
          console.log(data)
          this.alert_message = `Welcome ${data.netid}!`
          let claims_enc = data.auth_jwt.split(".")[1]
          let claims = atob(claims_enc)
          sessionStorage.setItem('api_token', data.auth_jwt)
          sessionStorage.setItem('user_claims', claims)
          router.push({ path: '/' })
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  }
}

</script>

<style scoped>

</style>
