<template>
  <div>
    <h1>Webauth Basic Starter App - Vue Edition</h1>
    
    <div v-if="user_claims" class="alert alert-info" role="alert">
        Logged in as {{ user_claims.uid }}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome</h3>
      </div>
      <div class="panel-body">
        This is a basic Vue app to demonstrate a serverless WebAuth enabled Application.
      </div>
    </div>

    <a v-if="!user_claims" :href="login_url">
        <button type="button" class="btn btn-default">Login</button>
    </a>

    <router-link v-if="user_claims" to="/todo">
        <button type="button" class="btn btn-default">TODO List</button>
    </router-link>

    <button type="button" class="btn btn-default" 
      v-on:click="logout()"
      v-if="user_claims" 
    >Logout</button>


  </div>

</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      login_url: process.env.VUE_APP_WEBAUTH_LOGIN_URL + "?service=" + process.env.VUE_APP_SERVICE_URL,
      user_claims: JSON.parse(sessionStorage.getItem('user_claims'))
    }
  },
  methods: {
    logout: function() {
      sessionStorage.removeItem('api_token')
      sessionStorage.removeItem('user_claims')
      this.user_claims = null
    }
  }
}

</script>

<style scoped>

</style>
