<template>
  <div>
    <h1 v-if="user_claims">Todo List for {{ user_claims.uid }}</h1>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Todo List</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
            <todo-item v-for="t in todo_list" 
                v-bind:key="t.id" 
                v-bind:todo="t"
                v-on:update:todo="updateTodo(t, $event)"
            ></todo-item>
        </ul>
      </div>
    </div>

    <router-link to="/">
        <button type="button" class="btn btn-default">Home</button>
    </router-link>

  </div>
</template>

<script>
const axios = require('axios').default;
import TodoItem from './TodoItem.vue'

export default {
  name: 'Todo',
  data () {
    return {
        user_claims: JSON.parse(sessionStorage.getItem('user_claims')),
        api_token: sessionStorage.getItem('api_token'),
        todo_list: []
    }
  },
  components: {
      TodoItem
  },
  methods: {
      updateTodo: function(currentTodo, newTodo) {
        console.log(`Set ${newTodo.name} to ${newTodo.done}`)
        console.log(`Calling Update API for ${newTodo.id} (but not really)`)
        currentTodo.done = newTodo.done
      }
  },
  beforeRouteEnter (to, from, next) {
      let user_claims = sessionStorage.getItem('user_claims')
      if (user_claims) {
          next()
      } else {
          next({path: "/"})
      }
  },
  mounted: function () {
    let api_url = process.env.VUE_APP_API_URL
    let call_url = api_url + "/todos"
    const options = {
      headers: {
        'Authorization': 'Bearer ' + this.api_token
      }
    };
    axios
        .get(call_url, options)
        .then(response => {
            let data = response.data
            this.todo_list = data.todos
            console.log(`Got data from ${call_url}`)
            console.log(data)
        })
        .catch(function (error) {
            console.log(error)
        })
 }
}

</script>

<style scoped>

</style>
