<template>
    <div>
        <button v-if="todo.done == true" type="button" class="btn btn-success" v-on:click="toggleDone()">
        <i class="btn-icon todo-font-icon ua-brand-checkmark">&nbsp;</i>
        </button>
        <button v-if="todo.done == false" type="button" class="btn btn-default" v-on:click="toggleDone()">
        <i class="btn-icon todo-font-icon ua-brand-x">&nbsp;</i>
        </button>
        {{ todo.name }}
    </div>
</template>

<script>

export default {
  name: 'TodoItem',
  props: ['todo'],
  methods: {
    toggleDone: function() {
        this.todo.done = !this.todo.done
        this.$emit('update:todo', this.todo)
    }
  }
}

</script>

<style scoped>
.todo-font-icon:before {
    margin-right: 0em;
}
</style>
