<!DOCTYPE html>
<!--[if lte IE 9]><html lang="en" dir="ltr" class="lte-ie9 external-links ua-brand-icons sticky-footer"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" class="ua-brand-icons sticky-footer"><!--<![endif]-->

<html lang="en" class="ua-brand-icons sticky-footer">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Latest icon font stylesheet -->
    <link rel="stylesheet" href="https://cdn.uadigital.arizona.edu/lib/ua-brand-icons/v1.1.0/ua-brand-icons.min.css">
    <!-- Compiled and minified UA Bootstrap CSS, icon font not included -->
    <link rel="stylesheet" href="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.26/ua-bootstrap.min.css">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    
    <header class="l-arizona-header bg-red page-row">
      <section class="container l-container">
        <div class="row">
            <span class="arizona-logo">
                <a target="_blank" href="https://www.arizona.edu">
                    <img alt="The University of Arizona Logo" src="<%= BASE_URL %>images/ua_wordmark_line_logo_white_rgb.svg" class="arizona-line-logo">
                </a>
            </span>
        </div>
      </section>
    </header>

    <div id="app" class="container page-row">
      <router-view class="view"></router-view>
    </div>

    <br><br>

    <footer id="footer_site" class="page-row">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div id="footer_logo">
                    <a target="_blank" href="https://it.arizona.edu">
                        <img src="<%= BASE_URL %>images/UITS_InformationTechnology_WebHeader.svg" alt="University of Arizona IT Website">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="text-center-sm text-center-xs text-right" id="footer_menu">
                    <ul class="help-resources">
                        <li><a href="https://it.arizona.edu/service/247-it-support">Contact the 24/7 support center</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/v1.0.0-beta.26/ua-bootstrap.min.js"></script>

  </body>
</html>
